<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ccj.video">

    <application android:allowBackup="true"
        android:supportsRtl="true" >
        <activity android:name=".debug.MainActivity"></activity>
        <activity android:name=".ui.TakePhotoActivity"></activity>

    </application>

</manifest>